.nlp-button {
    padding: 0 15px;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    background-color: #333;
    color: #FFF;
    border: 1px solid #333;
    box-sizing: border-box;

    &:disabled {
        background-color: #aaaaaa;
    }
}

.search-bar {
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 640px;

    .split-group {
        display: flex;

        input[type="url"] {
            border-color: #333;
            border-right-width: 0;
            display: block;
            padding: 0 10px;
            height: 48px;
            line-height: 48px;
            flex: 1 1 auto;
            box-sizing: border-box;
        }

        .nlp-button {
            flex: 0 0 auto;
        }
    }

    #error-message {
        color: #b60016;
        padding: 10px;
        text-align: left;
    }
}
