<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Article Parser</title>
    </head>

    <body>
        <div class="container">
            <header>
                <h1>Article Analysis</h1>
            </header>
    
            <main>
                <section>
                    <form class="search-bar" name="url-form" onsubmit="return handleSubmit(event)">
                        <input 
                            type="url" 
                            name="article-url" 
                            value="" 
                            placeholder="News/Blogs/Articles URL"
                            required
                        >
                        <button type="submit" class="nlp-button">Analyze</button>
                    </form>
                <section>
                <section id="analysis-result"></section>
            </main>
        </div>

    </body>
</html>
